# To access this file via http use following redirection:
# http://preseed.panticz.de/preseed/ubuntu-minimal.seed

# Localization
d-i debian-installer/locale string en_US.UTF-8

# Network configuration
d-i netcfg/choose_interface select auto

# Clock and time zone setup
d-i clock-setup/ntp boolean true
d-i time/zone string Asia/Ho_Chi_Minh

### Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string opensource.xdtv.net
d-i mirror/http/directory string /ubuntu

d-i debconf/priority select critical
d-i auto-install/enabled boolean true

# Account setup
d-i passwd/user-fullname string ubuntu
d-i passwd/username string ubuntu
d-i passwd/user-password password ubuntu
d-i passwd/user-password-again password ubuntu
d-i user-setup/allow-password-weak boolean true

# Apt setup
d-i apt-setup/restricted boolean true
d-i apt-setup/universe boolean true
d-i apt-setup/multiverse boolean true
d-i apt-setup/backports boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/security-updates boolean true
d-i apt-setup/partner boolean true

# Package selection
tasksel tasksel/first multiselect ubuntu-server
d-i pkgsel/update-policy select unattended-upgrades

# Finishing up the installation
d-i finish-install/reboot_in_progress note
